.discordBot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  
  .discordBotIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background-color: #007bff; You can change the background color as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  @media only screen and (max-width: 768px) {
    .discordBotIcon {
      width: 20px;
      height: 20px;
    }
  }
  
  .discordBotIcon:hover {
    transform: scale(1.1);
  }
  

.discordWindow {
    position: absolute;
    bottom: 80px; /* Adjust as needed */
    right: 0;
    width: 300px; /* Adjust as needed */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .linkContainer:hover p {
    color: white !important;
  }
  .linkContainerUA:hover p {
    color: black !important;
  }

  .descriptionContainer {
    transform: translateX(100%);
  }
  
  .group:hover .descriptionContainer {
    transform: translateX(0%);
  }

  @media (min-width: 768px) {
    .group:hover .group-hover\:scale-105 {
      transform: scale(1.05);
    }
    .group:hover .group-hover\:translate-x-0 {
      transform: translateX(0);
    }
  }
  
  /* Click effects for mobile */
  @media (max-width: 767px) {
    .group {
      position: relative;
    }
    .group .group-hover\:translate-x-full {
      transform: translateX(100%);
    }
    .group .group-hover\:translate-x-0 {
      transform: translateX(0);
    }
  }


  .arrowButton {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.6); */
    border-radius: 50%;
    z-index: 20;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for both color and rotation */
  }
  
  /* Arrow button hover effect */
  .arrowButton:hover {
    /* background-color: rgba(0, 0, 0, 0.8); */
  }
  
  /* Arrow rotation styles */
  .arrowRotated {
    transform: rotate(180deg); /* Rotate arrow 180 degrees */
  }
  
  /* Ensure arrow button is hidden on desktop */
  @media (min-width: 768px) {
    .arrowButton {
      display: none;
    }
  }

  